# SQL QUERY

In [63]:
from datetime import datetime

# docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=atom_pass -e MYSQL_DATABASE=atom_db -h 127.0.0.1 -d mysql:5.7 --name=mysql_web7
# docker exec -ti mysql_web7 mysql -u root -D atom_db -h 127.0.0.1 -p
DB_CONFIG = {
    'username': 'root',
    'password': 'atom_pass',
    'host': '10.3.13.60',
    'dbname': 'atom_db',
}

In [64]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
# mysql+pymysql://username:password@server/db
app.config['SQLALCHEMY_DATABASE_URI'] = f"mysql+pymysql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}/{DB_CONFIG['dbname']}?charset=utf8"
app.config['SQLALCHEMY_ECHO'] = True
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
app.config['SQLALCHEMY_RECORD_QUERIES'] = True


db = SQLAlchemy(app)

In [65]:
app.config['SQLALCHEMY_DATABASE_URI']

'mysql+pymysql://root:atom_pass@10.3.13.60/atom_db?charset=utf8'

In [33]:
from sqlalchemy import text

# CREATE TABLE teacher (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	age INTEGER, 
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(), 
# 	PRIMARY KEY (id)
# )

class Teacher(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    surname = db.Column(db.String(80), nullable=False)
    age = db.Column(db.Integer())
    
    created = db.Column(db.DateTime, default=datetime.now, server_default=text('now()'))
    updated = db.Column(db.DateTime, default=datetime.now, onupdate=datetime.now, server_default=text('now()'))

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [34]:
db.create_all()

2019-04-11 20:24:33,663 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'sql_mode'

2019-04-11 20:24:33,664 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,673 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'lower_case_table_names'

2019-04-11 20:24:33,674 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,685 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()

INFO:sqlalchemy.engine.base.Engine:SELECT DATABASE()

2019-04-11 20:24:33,687 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,694 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'

INFO:sqlalchemy.engine.base.Engine:show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'

2019-04-11 20:24:33,697 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,706 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

2019-04-11 20:24:33,708 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,712 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

2019-04-11 20:24:33,713 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,717 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1

2019-04-11 20:24:33,718 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 20:24:33,725 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `teacher`

2019-04-11 20:24:33,726 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

In [7]:
teacher_Amir = Teacher(name='Amir', surname='Safiullin', age=20)
teacher_Zarina = Teacher(name='Zarina', surname='Sayfullina', age=20)
teacher_Misha = Teacher(name='Misha', surname='Baranov', age=20)
teacher_Ilya = Teacher(name='Ilya', surname='Lysko', age=20)

db.session.add(teacher_Amir)
db.session.add(teacher_Zarina)
db.session.add(teacher_Misha)
db.session.add(teacher_Ilya)
db.session.commit()

2019-04-11 19:57:44,018 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 19:57:44,020 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 19:57:44,020 INFO sqlalchemy.engine.base.Engine {'name': 'Amir', 'surname': 'Safiullin', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 19, 57, 44, 19941), 'updated': datetime.datetime(2019, 4, 11, 19, 57, 44, 19950)}
2019-04-11 19:57:44,022 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 19:57:44,022 INFO sqlalchemy.engine.base.Engine {'name': 'Zarina', 'surname': 'Sayfullina', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 19, 57, 44, 22127), 'updated': datetime.datetime(2019, 4, 11, 19, 57, 44, 22136)}
2019-04-11 19:57:44,023 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 19:57:44,024 INFO sqlalchemy.engine.base.Engine {'name': 'Misha', 'surname': 'Baranov', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 19, 57, 44, 23749), 'updated': datetime.datetime(2019, 4, 11, 19, 57, 44, 23756)}
2019-04-11 19:57:44,025 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)
2019-04-11 19:57:44,028 INFO sqlalchemy.engine.base.Engine {'name': 'Ilya', 'surname': 'Lysko', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 19, 57, 44, 25054), 'updated': datetime.datetime(2019, 4, 11, 19, 57, 44, 25060)}
2019-04-11 19:57:44,029 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# SELECT * FROM teacher;
Teacher.query.all()

2019-04-11 19:57:47,181 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 19:57:47,184 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
2019-04-11 19:57:47,185 INFO sqlalchemy.engine.base.Engine {}

[Teacher <1>=<Amir>,
 Teacher <3>=<Misha>,
 Teacher <4>=<Ilya>,
 Teacher <5>=<Test>,
 Teacher <6>=<Amir>,
 Teacher <7>=<Zarina>,
 Teacher <8>=<Misha>,
 Teacher <9>=<Ilya>]

In [9]:
# SELECT * FROM teacher ORDER BY name;
Teacher.query.order_by(Teacher.name).all()

2019-04-11 19:58:02,819 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher ORDER BY teacher.name
2019-04-11 19:58:02,820 INFO sqlalchemy.engine.base.Engine {}

[Teacher <1>=<Amir>,
 Teacher <6>=<Amir>,
 Teacher <4>=<Ilya>,
 Teacher <9>=<Ilya>,
 Teacher <3>=<Misha>,
 Teacher <8>=<Misha>,
 Teacher <5>=<Test>,
 Teacher <7>=<Zarina>]

In [18]:
# SELECT * FROM teacher WHERE id=2;
Teacher.query.get(2)

Teacher <2>=<Zarina>

In [35]:
# SELECT id FROM teacher WHERE name='Zarina';
t = Teacher.query.filter_by(name='Zarina')

In [36]:
t.all()

2019-04-11 20:24:51,850 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-04-11 20:24:51,854 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s

2019-04-11 20:24:51,856 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

INFO:sqlalchemy.engine.base.Engine:{'name_1': 'Zarina'}

[Teacher <2>=<Zarina>,
 Teacher <6>=<Zarina>,
 Teacher <10>=<Zarina>,
 Teacher <14>=<Zarina>,
 Teacher <18>=<Zarina>,
 Teacher <22>=<Zarina>,
 Teacher <26>=<Zarina>,
 Teacher <30>=<Zarina>,
 Teacher <34>=<Zarina>,
 Teacher <38>=<Zarina>]

In [37]:
import enum
class ThreadEnum(enum.Enum):
    web = 'web'
    ml = 'ml'
    
    def __repr__(self):
        return self.value
    
# CREATE TABLE teacher_lecture (
# 	teacher_id INTEGER NOT NULL, 
# 	lecture_id INTEGER NOT NULL, 
# 	PRIMARY KEY (teacher_id, lecture_id), 
# 	FOREIGN KEY(teacher_id) REFERENCES teacher (id), 
# 	FOREIGN KEY(lecture_id) REFERENCES lecture (id)
# )
    
TeacherLecture = db.Table('teacher_lecture',
    db.Column('teacher_id', db.Integer, db.ForeignKey('teacher.id'), primary_key=True),
    db.Column('lecture_id', db.Integer, db.ForeignKey('lecture.id'), primary_key=True)
)

# CREATE TABLE lecture (
# 	id INTEGER NOT NULL AUTO_INCREMENT, 
# 	name VARCHAR(80) NOT NULL, 
# 	thread ENUM('web','ml'), 
# 	alias VARCHAR(80), 
# 	PRIMARY KEY (id)
# )

class Lecture(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    thread = db.Column(db.Enum(ThreadEnum))
    alias = db.Column(db.String(80))
    
    teachers = db.relationship(Teacher, secondary=TeacherLecture, lazy='subquery',
        backref=db.backref('lectures', lazy=True))
    

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

In [13]:
db.create_all()

2019-04-11 19:58:13,725 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher`
2019-04-11 19:58:13,726 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 19:58:13,728 INFO sqlalchemy.engine.base.Engine DESCRIBE `teacher_lecture`
2019-04-11 19:58:13,729 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 19:58:13,730 INFO sqlalchemy.engine.base.Engine DESCRIBE `lecture`
2019-04-11 19:58:13,731 INFO sqlalchemy.engine.base.Engine {}

In [28]:
for row in [
    ('lecture_01', None, 'lecture_01'),
    ('lecture_02', None, 'lecture_02'),
    ('lecture_03', None, 'lecture_03'),
    ('lecture_04', None, 'lecture_04'),
    ('lecture_05', ThreadEnum.web, 'lecture_05_web'),
    ('lecture_06', ThreadEnum.ml, 'lecture_05_ml'),
    ('lecture_07', ThreadEnum.web, 'lecture_06_web'),
    ('lecture_08', ThreadEnum.ml, 'lecture_06_ml'),
    ('lecture_09', ThreadEnum.web, 'lecture_07_web'),
    ('lecture_10', ThreadEnum.ml, 'lecture_07_ml'),
    ('lecture_11', ThreadEnum.web, 'lecture_08_web'),
    ('lecture_12', ThreadEnum.ml, 'lecture_08_ml'),
    ('lecture_13', ThreadEnum.web, 'lecture_09_web'),
    ('lecture_14', ThreadEnum.ml, 'lecture_09_ml'),
    ('lecture_15', ThreadEnum.web, 'lecture_10_web'),
    ('lecture_16', ThreadEnum.ml, 'lecture_10_ml'),
]:
    db.session.add(Lecture(name=row[0], thread=row[1], alias=row[2]))
db.session.commit()

2019-04-11 20:09:48,954 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,956 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_01', 'thread': None, 'alias': 'lecture_01'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_01', 'thread': None, 'alias': 'lecture_01'}

2019-04-11 20:09:48,959 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,960 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_02', 'thread': None, 'alias': 'lecture_02'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_02', 'thread': None, 'alias': 'lecture_02'}

2019-04-11 20:09:48,963 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,965 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_03', 'thread': None, 'alias': 'lecture_03'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_03', 'thread': None, 'alias': 'lecture_03'}

2019-04-11 20:09:48,967 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,969 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_04', 'thread': None, 'alias': 'lecture_04'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_04', 'thread': None, 'alias': 'lecture_04'}

2019-04-11 20:09:48,971 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,972 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_05', 'thread': 'web', 'alias': 'lecture_05_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_05', 'thread': 'web', 'alias': 'lecture_05_web'}

2019-04-11 20:09:48,974 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,974 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_06', 'thread': 'ml', 'alias': 'lecture_05_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_06', 'thread': 'ml', 'alias': 'lecture_05_ml'}

2019-04-11 20:09:48,976 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,977 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_07', 'thread': 'web', 'alias': 'lecture_06_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_07', 'thread': 'web', 'alias': 'lecture_06_web'}

2019-04-11 20:09:48,979 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,980 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_08', 'thread': 'ml', 'alias': 'lecture_06_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_08', 'thread': 'ml', 'alias': 'lecture_06_ml'}

2019-04-11 20:09:48,981 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,982 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_09', 'thread': 'web', 'alias': 'lecture_07_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_09', 'thread': 'web', 'alias': 'lecture_07_web'}

2019-04-11 20:09:48,983 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,984 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_10', 'thread': 'ml', 'alias': 'lecture_07_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_10', 'thread': 'ml', 'alias': 'lecture_07_ml'}

2019-04-11 20:09:48,986 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,987 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_11', 'thread': 'web', 'alias': 'lecture_08_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_11', 'thread': 'web', 'alias': 'lecture_08_web'}

2019-04-11 20:09:48,989 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:48,990 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_12', 'thread': 'ml', 'alias': 'lecture_08_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_12', 'thread': 'ml', 'alias': 'lecture_08_ml'}

2019-04-11 20:09:48,991 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:49,003 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_13', 'thread': 'web', 'alias': 'lecture_09_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_13', 'thread': 'web', 'alias': 'lecture_09_web'}

2019-04-11 20:09:49,006 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:49,007 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_14', 'thread': 'ml', 'alias': 'lecture_09_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_14', 'thread': 'ml', 'alias': 'lecture_09_ml'}

2019-04-11 20:09:49,009 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:49,010 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_15', 'thread': 'web', 'alias': 'lecture_10_web'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_15', 'thread': 'web', 'alias': 'lecture_10_web'}

2019-04-11 20:09:49,012 INFO sqlalchemy.engine.base.Engine INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO lecture (name, thread, alias) VALUES (%(name)s, %(thread)s, %(alias)s)

2019-04-11 20:09:49,013 INFO sqlalchemy.engine.base.Engine {'name': 'lecture_16', 'thread': 'ml', 'alias': 'lecture_10_ml'}

INFO:sqlalchemy.engine.base.Engine:{'name': 'lecture_16', 'thread': 'ml', 'alias': 'lecture_10_ml'}

2019-04-11 20:09:49,015 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [39]:
from sqlalchemy import or_

for name, lectures in [
    ('Misha', ('01', '03', '04', '05_ml')),
    ('Zarina', ('02', '04', '05_web', '06_web', '07_web')),
]:
    # SELECT * FROM teacher WHERE name=<name>;
    teacher = Teacher.query.filter_by(name=name).first()
    conds = [
        Lecture.alias.like(f'%{alias_postfix}')
        for alias_postfix in lectures
    ]
    # SELECT * FROM lecture WHERE alias LIKE '%<alias_postfix>' OR alias LIKE '%<alias_postfix>' OR ...;
    teacher.lectures = Lecture.query.filter(or_(*conds)).all()
db.session.commit()

2019-04-11 20:25:41,053 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s

2019-04-11 20:25:41,055 INFO sqlalchemy.engine.base.Engine {'name_1': 'Misha', 'param_1': 1}

INFO:sqlalchemy.engine.base.Engine:{'name_1': 'Misha', 'param_1': 1}

2019-04-11 20:25:41,133 INFO sqlalchemy.engine.base.Engine SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s

INFO:sqlalchemy.engine.base.Engine:SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s

2019-04-11 20:25:41,134 INFO sqlalchemy.engine.base.Engine {'alias_1': '%01', 'alias_2': '%03', 'alias_3': '%04', 'alias_4': '%05_ml'}

INFO:sqlalchemy.engine.base.Engine:{'alias_1': '%01', 'alias_2': '%03', 'alias_3': '%04', 'alias_4': '%05_ml'}

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'atom_db.lecture' doesn't exist")
[SQL: SELECT lecture.id AS lecture_id, lecture.name AS lecture_name, lecture.thread AS lecture_thread, lecture.alias AS lecture_alias
FROM lecture
WHERE lecture.alias LIKE %(alias_1)s OR lecture.alias LIKE %(alias_2)s OR lecture.alias LIKE %(alias_3)s OR lecture.alias LIKE %(alias_4)s]
[parameters: {'alias_1': '%01', 'alias_2': '%03', 'alias_3': '%04', 'alias_4': '%05_ml'}]
(Background on this error at: http://sqlalche.me/e/f405)

In [40]:
# RAW SQL
result = db.engine.execute('SELECT name FROM teacher')
names = [row[0] for row in result]
print(names)

2019-04-11 20:27:34,746 INFO sqlalchemy.engine.base.Engine SELECT name FROM teacher

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM teacher

2019-04-11 20:27:34,748 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

['Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya', 'Amir', 'Zarina', 'Misha', 'Ilya']

In [45]:
from sqlalchemy import func

# SELECT min AS first_create FROM teacher
db.session.query(func.min(Teacher.created).label('first_create')).all()

2019-04-11 20:51:18,677 INFO sqlalchemy.engine.base.Engine SELECT min(teacher.created) AS first_create
FROM teacher

INFO:sqlalchemy.engine.base.Engine:SELECT min(teacher.created) AS first_create
FROM teacher

2019-04-11 20:51:18,679 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

[(datetime.datetime(2019, 4, 11, 19, 59, 53))]

In [38]:
# SELECT teacher_id AS teacher, count(lecture_id) FROM teacher_lecture GROUP BY teacher_id
db.session.query(Teacher.name.label('teacher'), func.count(Lecture.id)).join(Teacher.lectures).group_by(Teacher.id).all()

AttributeError: type object 'Teacher' has no attribute 'lectures'

In [47]:
# RAW SQL
result = db.engine.execute(
    '''
    SELECT MAX(updated) FROM  teacher
    '''
)
result.next()
#[row for row in result][0]

2019-04-11 20:57:00,694 INFO sqlalchemy.engine.base.Engine
    SELECT MAX(updated) FROM  teacher

INFO:sqlalchemy.engine.base.Engine:
    SELECT MAX(updated) FROM  teacher

2019-04-11 20:57:00,696 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

(datetime.datetime(2019, 4, 11, 20, 49, 36),)

In [22]:
[row for row in result]

[(datetime.datetime(2019, 4, 11, 19, 57, 44),)]

# UPDATE

In [35]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 19:18:53,333 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 19:18:53,334 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

20

In [36]:
Teacher.query.filter_by(name='Zarina').update({'age': '22'})
db.session.commit()
Teacher.query.filter_by(name='Zarina').first().age
db.session.commit()

2019-04-11 19:18:54,159 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:18:54,161 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 19:18:54,163 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:18:54,164 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 19:18:54,166 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:18:54,167 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 19:18:54,169 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=%(age)s, updated=%(updated)s WHERE teacher.name = %(name_1)s
2019-04-11 19:18:54,169 INFO sqlalchemy.engine.base.Engine {'age': '22', 'updated': datetime.datetime(2019, 4, 11, 19, 18, 54, 169046), 'name_1': 'Zarina'}
2019-04-11 19:18:54,172 INFO sqlalchemy.engine.base.Engine COMMIT
2019-04-11 19:18:54,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 19:18:54,183 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 19:18:54,184 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}
2019-04-11 19:18:54,188 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
db.engine.execute("UPDATE teacher SET age=21 WHERE name='Zarina'")

2019-04-11 19:18:56,368 INFO sqlalchemy.engine.base.Engine UPDATE teacher SET age=21 WHERE name='Zarina'
2019-04-11 19:18:56,369 INFO sqlalchemy.engine.base.Engine {}
2019-04-11 19:18:56,371 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
Teacher.query.filter_by(name='Zarina').first().age

2019-04-11 19:18:56,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-11 19:18:56,883 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-11 19:18:56,884 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina', 'param_1': 1}

21

# DELETE

In [39]:
Teacher.query.filter_by(name='Zarina').delete()

2019-04-11 19:19:02,264 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:19:02,265 INFO sqlalchemy.engine.base.Engine {'param_1': 3}
2019-04-11 19:19:02,270 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:19:02,271 INFO sqlalchemy.engine.base.Engine {'param_1': 4}
2019-04-11 19:19:02,275 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.id = %(param_1)s
2019-04-11 19:19:02,277 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-04-11 19:19:02,280 INFO sqlalchemy.engine.base.Engine DELETE FROM teacher WHERE teacher.name = %(name_1)s
2019-04-11 19:19:02,281 INFO sqlalchemy.engine.base.Engine {'name_1': 'Zarina'}

1

In [49]:
db.session.add(Teacher(name='Test', surname='Abc', age=20))
db.session.commit()

2019-04-11 21:07:29,016 INFO sqlalchemy.engine.base.Engine INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO teacher (name, surname, age, created, updated) VALUES (%(name)s, %(surname)s, %(age)s, %(created)s, %(updated)s)

2019-04-11 21:07:29,019 INFO sqlalchemy.engine.base.Engine {'name': 'Test', 'surname': 'Abc', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 21, 7, 29, 16522), 'updated': datetime.datetime(2019, 4, 11, 21, 7, 29, 16537)}

INFO:sqlalchemy.engine.base.Engine:{'name': 'Test', 'surname': 'Abc', 'age': 20, 'created': datetime.datetime(2019, 4, 11, 21, 7, 29, 16522), 'updated': datetime.datetime(2019, 4, 11, 21, 7, 29, 16537)}

2019-04-11 21:07:29,240 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [51]:
qs = Teacher.query.filter_by(name='Test')

In [52]:
qs.all()

2019-04-11 21:13:22,278 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-04-11 21:13:22,282 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s

2019-04-11 21:13:22,283 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test'}

INFO:sqlalchemy.engine.base.Engine:{'name_1': 'Test'}

[Teacher <53>=<Test>, Teacher <54>=<Test>]

In [53]:
qs.first()

2019-04-11 21:13:25,383 INFO sqlalchemy.engine.base.Engine SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT teacher.id AS teacher_id, teacher.name AS teacher_name, teacher.surname AS teacher_surname, teacher.age AS teacher_age, teacher.created AS teacher_created, teacher.updated AS teacher_updated
FROM teacher
WHERE teacher.name = %(name_1)s
 LIMIT %(param_1)s

2019-04-11 21:13:25,385 INFO sqlalchemy.engine.base.Engine {'name_1': 'Test', 'param_1': 1}

INFO:sqlalchemy.engine.base.Engine:{'name_1': 'Test', 'param_1': 1}

Teacher <53>=<Test>

In [60]:
qs.delete()
db.session.commit()

In [45]:
# TODO
# 1. Создать модель эквивалентно
# CREATE TABLE teacher (
# 	id INTEGER NOT NULL AUTO_INCREMENT,
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(),
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	course_number INTEGER NOT NULL,
# 	thread enum('web','ml') DEFAULT NULL,
# 	last_updated DATETIME,
# 	PRIMARY KEY (id)
# )
# 
# 2.Подключиться к БД с настройками:
#     'username': 'root'
#     'password': 'atom_pass'
#     'host': 'Скажу на паре'
#     'dbname': 'atom_db'
# 
# 3. Через ORM вставит запись в таблицу student
# 
# 4. Через ORM получить время последнего обновления таблицы student
#    SELECT MAX(updated) FROM student
# 
# 5. Через ORM обновить свою запись заполнив колонку last_updated вставив в нее значение из пункта 4
#

In [ ]:
from datetime import datetime

# 2.Подключиться к БД с настройками:
#     'username': 'root'
#     'password': 'atom_pass'
#     'host': 'Скажу на паре'
#     'dbname': 'atom_db'

DB_CONFIG = {
    'username': 'root',
    'password': 'atom_pass',
    'host': '10.3.13.60',
    'dbname': 'atom_db',
}

from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
# mysql+pymysql://username:password@server/db
app.config['SQLALCHEMY_DATABASE_URI'] = f"mysql+pymysql://{DB_CONFIG['username']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}/{DB_CONFIG['dbname']}?charset=utf8"
app.config['SQLALCHEMY_ECHO'] = True
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
app.config['SQLALCHEMY_RECORD_QUERIES'] = True

db = SQLAlchemy(app)

In [66]:
from sqlalchemy import text

# CREATE TABLE student (
# 	id INTEGER NOT NULL AUTO_INCREMENT,
# 	name VARCHAR(80) NOT NULL, 
# 	surname VARCHAR(80) NOT NULL, 
# 	created DATETIME DEFAULT now(), 
# 	updated DATETIME DEFAULT now(),
# 	course_number INTEGER NOT NULL,
# 	thread enum('web','ml') DEFAULT NULL,
# 	last_updated DATETIME,
# 	PRIMARY KEY (id)
# )

import enum
class ThreadEnum(enum.Enum):
    web = 'web'
    ml = 'ml'


class Student(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(80), nullable=False)
    surname = db.Column(db.String(80), nullable=False)
    
    created = db.Column(db.DateTime, default=datetime.now, server_default=text('now()'))
    updated = db.Column(db.DateTime, default=datetime.now, onupdate=datetime.now, server_default=text('now()'))

    course_number = db.Column(db.Integer, nullable=False)
    thread = db.Column(db.Enum(ThreadEnum), default=None)
    last_updated = db.Column(db.DateTime)

    def __repr__(self):
        return f'{type(self).__name__} <{self.id}>=<{self.name}>'

db.create_all()

2019-04-11 21:33:45,885 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'sql_mode'

2019-04-11 21:33:45,887 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,894 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'lower_case_table_names'

2019-04-11 21:33:45,896 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,909 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()

INFO:sqlalchemy.engine.base.Engine:SELECT DATABASE()

2019-04-11 21:33:45,915 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,924 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'

INFO:sqlalchemy.engine.base.Engine:show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'

2019-04-11 21:33:45,927 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,938 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

2019-04-11 21:33:45,940 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,947 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

2019-04-11 21:33:45,950 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,956 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1

2019-04-11 21:33:45,958 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2019-04-11 21:33:45,975 INFO sqlalchemy.engine.base.Engine DESCRIBE `student`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `student`

2019-04-11 21:33:45,978 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

In [67]:
# 3. Через ORM вставит запись в таблицу student
db.session.add(Student(name='Dmitriy', surname='Tsibisov', thread=ThreadEnum.ml, course_number=1))
db.session.commit()

2019-04-11 21:33:49,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-04-11 21:33:49,204 INFO sqlalchemy.engine.base.Engine INSERT INTO student (name, surname, created, updated, course_number, thread, last_updated) VALUES (%(name)s, %(surname)s, %(created)s, %(updated)s, %(course_number)s, %(thread)s, %(last_updated)s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO student (name, surname, created, updated, course_number, thread, last_updated) VALUES (%(name)s, %(surname)s, %(created)s, %(updated)s, %(course_number)s, %(thread)s, %(last_updated)s)

2019-04-11 21:33:49,206 INFO sqlalchemy.engine.base.Engine {'name': 'Dmitriy', 'surname': 'Tsibisov', 'created': datetime.datetime(2019, 4, 11, 21, 33, 49, 204628), 'updated': datetime.datetime(2019, 4, 11, 21, 33, 49, 204643), 'course_number': 1, 'thread': 'ml', 'last_updated': None}

INFO:sqlalchemy.engine.base.Engine:{'name': 'Dmitriy', 'surname': 'Tsibisov', 'created': datetime.datetime(2019, 4, 11, 21, 33, 49, 204628), 'updated': datetime.datetime(2019, 4, 11, 21, 33, 49, 204643), 'course_number': 1, 'thread': 'ml', 'last_updated': None}

2019-04-11 21:33:49,221 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [68]:
# 4. Через ORM получить время последнего обновления таблицы student
#    SELECT MAX(updated) FROM student
# result = db.engine.execute("SELECT MAX(updated) FROM student")
# result.next()
last_updated = db.session.query(func.max(Student.updated).label('last_updated')).first()
last_updated

2019-04-11 21:34:11,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-04-11 21:34:11,957 INFO sqlalchemy.engine.base.Engine SELECT max(student.updated) AS last_updated
FROM student
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT max(student.updated) AS last_updated
FROM student
 LIMIT %(param_1)s

2019-04-11 21:34:11,959 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 1}

(datetime.datetime(2019, 4, 11, 21, 33, 49))

In [70]:
# 5. Через ORM обновить свою запись заполнив колонку last_updated вставив в нее значение из пункта 4
Student.query.filter_by(name='Dmitriy', surname='Tsibisov').update({'last_updated': last_updated.last_updated})
db.session.commit()

2019-04-11 21:34:27,624 INFO sqlalchemy.engine.base.Engine UPDATE student SET updated=%(updated)s, last_updated=%(last_updated)s WHERE student.name = %(name_1)s AND student.surname = %(surname_1)s

INFO:sqlalchemy.engine.base.Engine:UPDATE student SET updated=%(updated)s, last_updated=%(last_updated)s WHERE student.name = %(name_1)s AND student.surname = %(surname_1)s

2019-04-11 21:34:27,627 INFO sqlalchemy.engine.base.Engine {'updated': datetime.datetime(2019, 4, 11, 21, 34, 27, 624669), 'last_updated': datetime.datetime(2019, 4, 11, 21, 33, 49), 'name_1': 'Dmitriy', 'surname_1': 'Tsibisov'}

INFO:sqlalchemy.engine.base.Engine:{'updated': datetime.datetime(2019, 4, 11, 21, 34, 27, 624669), 'last_updated': datetime.datetime(2019, 4, 11, 21, 33, 49), 'name_1': 'Dmitriy', 'surname_1': 'Tsibisov'}

2019-04-11 21:34:27,635 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [46]:
last = db.session.query(func.max(Teacher.updated).label('last_updated')).first()
last.last_updated

2019-04-11 20:54:57,917 INFO sqlalchemy.engine.base.Engine SELECT max(teacher.updated) AS last_updated
FROM teacher
 LIMIT %(param_1)s

INFO:sqlalchemy.engine.base.Engine:SELECT max(teacher.updated) AS last_updated
FROM teacher
 LIMIT %(param_1)s

2019-04-11 20:54:57,919 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

INFO:sqlalchemy.engine.base.Engine:{'param_1': 1}

datetime.datetime(2019, 4, 11, 20, 13, 30)